<div class="container">
	<div class="row">
		 <div class="Absolute-Center is-Responsive">

<form (submit)="onLoginSubmit()"> 

	
		 	<h2 class="page-header" style="margin-left: 85pt;border-bottom: none;">Login</h2>
	<div class="form-group input-group" >
		<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
		<input type="text" [(ngModel)]="username" name="username" class="form-control" placeholder="username">
	</div>
	<div class="form-group input-group">
		<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
		<!-- <label>Password</label> -->
	<input type="password" [(ngModel)]="password" name="password" class="form-control" placeholder="password">
	</div>
	<div class="form-group text-center">
	<a [routerLink]="['/forgotten-password']">
		<span>I've forgotten my password</span>
	</a>
	</div>	
	<!-- <br/> -->
<!-- 	<br/> -->
	<!-- <div class="form-group">
            <button type="button"  style="width: 240pt" class="btn btn-primary">Login</button>
    </div> -->
	<input type="submit" class="btn btn-primary" value="Login" style="width: 240pt">
	

</form>
	</div>
	</div>
</div>
	
<!-- 
<div class="container">
  <div class="row">
    <div class="Absolute-Center is-Responsive">
      <div id="logo-container"></div>
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <form action="" id="loginForm">
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input class="form-control" type="text" name='username' placeholder="username"/>          
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input class="form-control" type="password" name='password' placeholder="password"/>     
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"> I agree to the <a href="#">Terms and Conditions</a>
            </label>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-def btn-block">Login</button>
          </div>
          <div class="form-group text-center">
            <a href="#">Forgot Password</a>&nbsp;|&nbsp;<a href="#">Support</a>
          </div>
        </form>        
      </div>  
    </div>    
  </div>
</div> -->