

<body class="home page-template page-template-welcome page-template-welcome-php page page-id-5 page-animate fullpage-loaded fp-viewing-1" style="overflow: hidden; height: 100%;">

<div id="main-slider" class="carousel slide main-slider" data-ride="carousel">
 
  <ol class="carousel-indicators">
    <li data-target="#main-slider" data-slide-to="0" class="active"></li>
    <li data-target="#main-slider" data-slide-to="1"></li>
    <li data-target="#main-slider" data-slide-to="2"></li>
    <li data-target="#main-slider" data-slide-to="3"></li>
    <li data-target="#main-slider" data-slide-to="4"></li>
    
  </ol>

  <div class="carousel-inner">
    <div class="item active">
      <img  src="../../../../images/homepage1.jpg" alt="Chania" style="width:1100pt;height:350pt;">
      <!-- <div class="carousel-caption">
        <h3>Los Angeles</h3>
        <p>LA is always so much fun!</p>
      </div> -->
    </div>
    <div class="item">
      <img  src="../../../../images/1.jpg" alt="Chania" style="width:1100pt;height:350pt;">
     
    </div>
  <!--   <div class="item">
      <img  src="../../../../images/pic.jpg" alt="Chania" style="width:1100pt;height:350pt;">
      
    </div> -->
   <!--  <div class="item">
      <img  src="../../../../images/homepage4.jpg" alt="Chania" style="width:1100pt;height:350pt;">
     
    </div> -->
    <div class="item">
      <img  src="../../../../images/homepage5.jpg" alt="Chania" style="width:1100pt;height:350pt;">
      <!-- <div class="carousel-caption">
        <h3>Los Angeles</h3>
        <p>LA is always so much fun!</p>
      </div> -->
    </div>
    <!-- <div class="item">
      <img src="../../../../images/rk1.jpg" alt="Chicago" style="width:1100pt;height:350pt;">
      
    </div> -->
    <div class="item">
      <img src="../../../../images/rk2.jpg" alt="Chicago" style="width:1100pt;height:350pt;">
      <!-- <div class="carousel-caption">
        <h3>Chicago</h3>
        <p>Thank you, Chicago!</p>
      </div> -->
    </div>

   <!--  <div class="item">
      <img   src="../../../../images/rk3.jpg" alt="New York" style="width:1100pt;height:350pt;">
     
    </div> -->
    <!--  <div class="item">
      <img   src="../../../../images/rk4.jpg" alt="banglore" style="width:1100pt;height:350pt;">
      
    </div> -->
    <div class="item">
      <img   src="../../../../images/pics.jpg" alt="banglore" style="width:1100pt;height:350pt;">
      <!-- class="d-block img-fluid" -->
      <!-- <div class="carousel-caption">
        <h3>bnjdsd</h3>
        <p>We love the Big Apple!</p>
      </div> -->
    </div>
  <!--   <div class="item">
      <img   src="../../../../images/rk6.jpg" alt="banglore" style="width:1100pt;height:350pt;">
     
    </div> -->
    <!-- <div class="item">
      <img   src="../../../../images/rk7.jpg" alt="banglore" style="width:1100pt;height:350pt;">
     
    </div> -->
  </div>


  <a class="left carousel-control" href="#main-slider" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#main-slider" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br/>
<div class="row ">
        <div class="col-md-6 mver20" >
          <div class="sapf-heading" style="margin-left: 10pt;">RKVBPET</div>
          <div class="clearfix underline-yellow"></div>
          <p class="mtop10 sapf-content" style="margin-left: 10pt;">RKVB Peta was a former zamindar, most prominent during the Vijayanagara Empire. The Bommaraju family trace their origins back to an ancestor who migrated from the Pithapuram area of the Godavari Delta in the 8th or 9th century. One ancestor obtained the favour of the Eastern Chalukya king Vimala Aditya, and Saluva Narasa was appointed the chief of the country around Tirupati, where he founded his capital called Narayanavanam. The rulers later built their new capital, Nagaram, here by clearing the forest. Narasa was granted permission by his patron to use the royal seal and boar-signet of the Chalukyas, a proud distinction still kept up. At one point Saluva Venkatapati was deposed by the Cholas, but Saluva Bhima recovered their territory. Saluva Narsimha assisted a Keralan king named Kirti Varman and assumed independence, ruling for 36 years.  </p>
        </div>
<!-- 
        <div> -->
          <!-- <div class="notifications-heading">Notifications</div> -->
        <!--   <hr class="m0"> -->
          <!-- <div> -->
         <table class="col-sm-6 col-md-3 notifications mver20" style="position: relative; height: 300px; overflow: hidden; display: block;">
            <tr class="notifications-heading"><th>Notification</th></tr>
            <tr>
            <marquee direction='up' scrollspeed='true' scrolldelay='200' loop='-1'>
              <h5><strong>Cleanliness is the only medicine to all diseases</strong></h5>
                 <p> Our team discussed about development activities 
                  Which is going to be held in 2018</p>
              <hr>
              <h5><strong>Be Clean - Go Eco-friendly</strong></h5>
                 <p> All the roads will be cleaned every month and we are 
                    Planning to put slogan boards through out the village
                    Two major trees has been planted in-front of temple 
                    in the entrance of village.</p>
              <hr>
             <h5><strong>Put waste in the right place</strong></h5>
                 <p> Website and App is getting ready. Branding has to
                    finalise for our group. All the work should be done
                    Under this group.Facebook page and google maps 
                    has been created for village. </p>
              <hr>
              <h5><strong>Think clean & Use dust bin</strong></h5>
                 <p> We are placing Dust bins all over the village and 
                    Making name plates for each and every street at
                    the entrance of street.</p>
              <hr>
             
            </marquee>
            </tr>
         </table>

          <table class="col-sm-6 col-md-3 notifications mver20" style="position: relative; height: 300px; overflow: hidden; display: block;background-color: cadetblue;">
            
            <tr>
              <a href="https://www.facebook.com/RKVBPeta/">
                <img src="../../../../images/facebook.jpg" style="height: 100pt;margin-left: 30pt"></a></tr>
              <br/>
            <tr>
              <a href="https://www.google.co.in/maps/place/R+K+V+B+Pet,+Tirumalakondamambagaripeta,+Andhra+Pradesh+517582/@13.3962523,79.4196778,746m/data=!3m1!1e3!4m5!3m4!1s0x3a4d54897b536651:0xb1a972927bb6f2ee!8m2!3d13.3962128!4d79.4215085">
                <img src="../../../../images/maps.jpg" style="height: 100pt;width:100pt;margin-left: 30pt"></a>
            </tr>
           
           
         </table>

            
         <!--  </div> -->
     <!--    </div> -->

        
        <!-- </div> -->

      </div>
      <div class="find-my-village pver80">
        <div class="container">
          <div class="col-lg-3">
            <h3 class="m0 white">Join Us</h3>
            <div class="find-my-village-heading">
              Donate for Our village
            </div>
          </div>
          <div class="col-lg-7">
           <!--  <div class="col-sm-6">
              <div style="display: inline-block; width: 287.5px;">
                <input type="text" class="find-my-village-input mtop10 district xdsoft_input" autocomplete="off" placeholder="Please enter District" style="font-size: 14px;">
              </div>
            </div>
            <div class="col-sm-6">
              <div style="display: inline-block; width: 287.5px;">
            <input type="text" class="find-my-village-input mtop10 area xdsoft_input" autocomplete="off" disabled="" placeholder="Urban/Rural" style="font-size: 14px;">
             </div>
            </div>
            <div class="col-sm-6">
              <div style="display: inline-block; width: 287.5px;">
            <input type="text" class="find-my-village-input mtop10 panchayatWard xdsoft_input" autocomplete="off" disabled="" placeholder="Please enter Panchayat/Ward" style="font-size: 14px;">
             </div>
            </div> -->
             <div class="col-sm-6">
              <div style="display: inline-block; width: 350px;margin-left:80pt;">
                <h4><strong style="margin-left: 70pt;color: floralwhite;font-size: 20px;">Paytm to 9945344335</strong></h4>
            <!-- <input type="text" class="find-my-village-input mtop10 panchayatWard xdsoft_input" 
            [(ngModel)]="amount"  name="amount" placeholder="Please enter the amount you want to donate" style="font-size: 14px;"> -->
             </div>
           </div>
            <div class="col-sm-6" style="width: 200pt;margin-left: 120pt;margin-top: 30pt;">
            

            <!--  <div class="find-my-village-button mtop10 text-center">  -->
            <!-- 
              <button   class="find-my-village-button mtop10 text-center" (click)="pay(amount)" [disabled]="paybutton"> Pay</button> 

              <div id="loading">

                  <img id="loading-image" src="../../../../images/loading.gif" alt="Loading..." />
                  
              </div>  -->
             
           <!--  </div> -->
           <div>
                <img  src="../../../../images/qrcode.png" alt="Loading..."  style="width: 150pt;margin-left: 30pt;"/>
          </div> 

          <!--  <div class="find-my-village-button mtop10 text-center disabledbutton" (click)="pay(amount)"> 
            
            Pay
              <div id="loading">
                <img id="loading-image" src="../../../../images/loading.gif" alt="Loading..." />
              </div> 
            </div> -->
           

          </div>
          </div>
          <div class="col-lg-2">
            <div class="clearfix"></div>
                <h3 class="mtop10 mbot0 white f20 visible-lg">Become a patner.</h3>
                <h3 class="mtop20 mbot0 clr-1 f20 visible-lg">Check all our projects!</h3>
                <h3 class="mtop20 mbot0 white f20 text-center hidden-lg">Become a partner.</h3>
                <h3 class="mtop10 mbot0 clr-1 f20 text-center hidden-lg">Check all our projects!</h3>
            </div>


        </div>

      </div>
      <div class="container">
      <h1 class="our-blog-heading">
        <a href="case-studies.html">Success Stories</a>
        </h1>
        <br>
        <div class="row blog-items">
          <div class="col-sm-6 col-md-4 blog-story">
              <div class="thumbnail p0">
                <a href="case-study.html?Id=11">
                <img src="../../../../images/leadership.jpg" alt="...">
                </a> 
               <!--  <div class="blog-story-author">
                <span class="fa fa-user-o"></span>
                      <span>Admin</span>
                      <span class="fa fa-comment-o mleft15"></span>
                      <span>0 Comments</span>
                </div> -->
                <div class="blog-story-content">
                <div class="blog-story-info">
                      <h3 class="blog-story-heading f20">Celebrating Leadership and Smartness</h3>
                      <p class="blog-story-description">"There was spark in the village leadership and strong sense of determination to make a difference. The leadership of a village is critical in shaping the future.If the supervision of a village is good and effective, the people are bound to be successful."</p>
                  </div>
                        <!-- <p class="blog-story-link"><a class="clr-3 blog-story-link" href="case-study.html?Id=11">Read more »</a></p> -->
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-4 blog-story">
              <div class="thumbnail p0">
                <a href="case-study.html?Id=11">
                  <img src="../../../../images/festival2.jpg" alt="...">
              <!-- <marquee direction='left' scrolldelay='50' style="width:250pt;height:180pt;">
                <img src="../../../../images/festival.jpg" alt="..."> </marquee>
              <marquee direction='left' scrolldelay='50' style="width:250pt;height:180pt;">
                <img src="../../../../images/festival1.jpg" alt="..."> </marquee>
              <marquee direction='left' scrolldelay='50' style="width:250pt;height:180pt;">
                <img src="../../../../images/festival2.jpg" alt="...">

              </marquee> -->
                </a> 
               <!--  <div class="blog-story-author">
                <span class="fa fa-user-o"></span>
                      <span>Admin</span>
                      <span class="fa fa-comment-o mleft15"></span>
                      <span>0 Comments</span>
                </div> -->
                <div class="blog-story-content">
                <div class="blog-story-info">
                      <h3 class="blog-story-heading f20">Celebrating Festivals</h3>
                      <p class="blog-story-description">“The first step to developing relationships with people is that they should accept you as one among them. For this purpose, We have started celebrating festivals in the village- Sankaranti, Deepavali, Gangamma Jathara, Vinayaka Chathurthi, Sri Rama navami usthvalu, Navarathri usthvalu and many festivals”</p>
                  </div>
                        <!-- <p class="blog-story-link"><a class="clr-3 blog-story-link" href="case-study.html?Id=11">Read more »</a></p> -->
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-4 blog-story">
              <div class="thumbnail p0">
                <a href="case-study.html?Id=11">
                <img src="../../../../images/vision.jpg" alt="...">
                </a> 
               <!--  <div class="blog-story-author">
                <span class="fa fa-user-o"></span>
                      <span>Admin</span>
                      <span class="fa fa-comment-o mleft15"></span>
                      <span>0 Comments</span>
                </div> -->
                <div class="blog-story-content">
                <div class="blog-story-info">
                      <h3 class="blog-story-heading f20">Vision</h3>
                      <p class="blog-story-description">“Vision without action is merely a dream. Action without vision just passes the time. Vision with action can change the world.”</p>
                  </div>
                        <!-- <p class="blog-story-link"><a class="clr-3 blog-story-link" href="case-study.html?Id=11">Read more »</a></p> -->
                  </div>
              </div>
          </div>
                


        </div>
    </div>

</body>


